@tailwind base;
@tailwind components;
@tailwind utilities;

.react-tel-input {
     margin-top: 0.25rem !important;  
     
}
.react-tel-input .form-control {
    width: full !important;
    padding-left: 45px !important;
    height: 42px !important;
    border-width: 1px  !important;
    border-radius: 0.5rem !important;
}
.h-screen {
  height: auto !important;
}